attrs==19.1.0
certifi==2019.9.11
chardet==3.0.4
configparser==4.0.2
Deprecated==1.2.6
future==0.17.1
idna==2.8
jsonschema==3.0.2
pymisp==2.4.114
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
trustar==0.3.20
tzlocal==2.0.0
unicodecsv==0.14.1
urllib3==1.26.5
wrapt==1.11.2
